@model LoginModel

<form action="/Home/Account" method="POST">
    @Html.LabelFor(x => Model.login)
    @Html.EditorFor(x => Model.login)
    @Html.LabelFor(x => Model.password)
    @Html.PasswordFor(x => Model.password)<br/>
    <input type="submit" value="Log In"/>
</form>
@if (Model?.logInSuccess == false)
{
<div>Invalid credentials</div>
}